//The layout sprite is created with a reference to $layout-sprite, 
//so we can have more control with it, like calling the image with coordinates in a single declaration
//This is mostly so we can use sprite images in background() for laying backgrounds, like gradients + images
$layout-layout: vertical ;
$layout-sprite: sprite-map("layout/*.png") ;

//Generate our browser icon sprite
$browser-icons-layout: vertical ;
@import "content/browser-icons/*.png";

//Assets
@import 'compass/css3';
@import 'assets/mixins' ;
@import 'assets/colors';
@import 'assets/gradients';
@import 'assets/normalize';
@import 'assets/fonts';
@import 'assets/selection';
@import 'assets/common';
@import 'assets/tablesorter';
@import 'assets/formidable';
@import 'assets/slideshow';
@import 'assets/select-box';
@import 'assets/browser-icons' ;
@import 'assets/tooltips' ;

//Layout
//This wrapper encompasses the entire website
section.website-wrapper {
	background-color: $white ;
	position: relative ;
	width: 100% ;
	min-height: 100% ;
}//section.website-wrapper

@import 'layout/html-base';
@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';