section.content-wrapper {
	position: relative ;
	padding: 30px 0 270px 0 ;
	overflow: auto ;
	@include centered ;
	overflow:hidden;
	
	h1 {
		color: rgb(0,174,239) ;
	}
	
	.page-content {
		//overflow: auto ;
		float: left ;
		width: 600px ;
		padding: 0 15px 0 0 ;
		font: normal normal normal 1.0em/1.4em 'AvenirRoman' ;
		
		a {
			color: $dark-blue ;
			
			&:hover {
				color: $light-blue;
			}
		}
		&.wide {
			width: 800px ;
			float: none ;
		}
		p {
		}
		ul.breadcrumbs {
			display: inline-block ;
			float: left ;
			margin: 0 ;
			padding: 0 ;
			
			li {
				float: left ;
				list-style: none ;
				color: $medium-blue ;
				font-family: 'AvenirLight';
				font-size: 0.8em ;
				a {
					font-family: 'AvenirHeavy' ;
				}
				a, & span.current-post {
					color: $dark-gray ;
					display: inline-block ;
					margin: 0 5px 0 5px ;
					text-transform: uppercase ;
					letter-spacing: 0.1em ;
				}
				&.first a, &.first span.current-post {
					margin-left: 0 ;
				}
				&:after {
					content: "/";
				}
				&.last:after {
					content: "";
					margin-right: 0 ;
				}
			}
		}
		ul {
			&.show-bullets {
				padding-left: 18px ;					

				li {
					list-style: disc ;
					margin-bottom: 5px ;
				}
			}
		} /* ul */

		//This is applied to the institution logo/seal on single institution & program pages
		.institution-image {
			max-height: 100px ;
			float: left ;
			margin: 0 10px 5px 0 ;
		}
	} /* .page-content */
	
	/* SIDEBARS & WIDGETS */
	.aside {
		/* The horizontal aside section is used on the website homepage */
		&.horizontal {
			margin: 20px 0 30px 0 ;
			width: 100% ;

			.widget {
				float: left ;
				width: 33% ;
				height: 220px ;
				padding: 0 15px 0 15px ;
				@include single-box-shadow($medium-gray, -5px, 0px , 5px, -5px, false);
				
				&.half{
					width:50%;
					padding-bottom:20px;
					height:auto;
					min-height:260px;
				}

				&:first-child {
					border-left: 0px ;
					padding: 0 ;
				}
				h3 {
					font: normal normal normal 1.7em/1.2em 'AvenirHeavy' ;
					text-transform: lowercase ;
					margin-bottom: 12px ;
				}
				div.sbHolder {
					width: 200px !important ;
				}
			} /* widget */
		} /* .horizontal */
		/* The vertical aside section is used on the website pages - as a sidebar */
		&.vertical {
			float: right ;
			width: 190px ;
			padding: 0 0 0 13px ;
			@include single-box-shadow($medium-gray, -5px, 0px , 5px, -5px, false);
			
			.widget {
				border-bottom: 1px solid $light-blue ;
				font-size: 0.90em ;
				padding-bottom: 15px ;
				margin-bottom: 25px ;
				
				&:last-child {
					border-bottom: 0px ;
					padding-bottom: 0 ;
					margin-bottom: 0 ;
				}

				h3 {
					font: normal normal normal 1.7em/1.2em 'AvenirHeavy' ;
					text-transform: lowercase ;
					margin-bottom: 12px ;
				}

				div.sbHolder {
					width: 175px !important ;

					a.sbSelector {
						font-size: 0.95em !important ;
						padding-top: 3px !important ;
					}
				}
				&#financial-aid {
					img {
						width: 170px ;
					}
				}
			} /* .widget */
		} /* .vertical */
		
		.widget {
			p.slogan {
				font: normal normal normal 1.8em/1.0em 'AvenirLight' ;
				margin: 0 0 15px 0 ;
				padding: 0 ;
			}
			p.tooltip {
				font: normal normal normal 1.0em/1.0em 'Arial' ;
				color: $medium-blue ;

				a {
					font: inherit ;
				}
			}
			ul {
				margin: 0 ;
				padding: 0 0 5px 0 ;
				
				li {
					list-style: none ;
					margin-bottom: 6px ;
					font-weight: bold ;

					a {
						font-size: 0.85em ;
					}
				}
			} /* ul */
			
			&#financial-aid {
				padding-left: 10px ;
			}
			
			&#institutions {
				p {
					margin: 10px 0 10px 0 ;
					font-size: 0.85em ;
					line-height: 1.2em ;
				}
			} /* #institutions */

			&#jobs-in-demand {
				a {
					font-weight: normal ;
				}
			}

		} /* .widget */
	} /* .aside */
} /* section.content-wrapper */

body.page.home section.content-wrapper {
	overflow: visible ;
}

//Used on the program filter options
.filter-options {
	//overflow: auto ;
	height: 28px ;
	margin: 0 0 10px 0 ;
	//overflow: auto ;
	
	.title {
		float: left ;
		margin-right: 10px ;
		padding-top: 3px ;
	}
	.filter-divider {
		float: left ;
		margin-top: 6px ;
		margin-right: 10px ;
		font-size: 1.2em ;
	}
	.program-categories, .program-types {
		float: left ;
		margin-right: 10px ;

		select {

		}
		div.sbHolder {
			height: 28px ;
			@include light-gray-gradient ;
			
			a.sbSelector {
				padding-top: 6px ;
				&:link, 
				&:visited, 
				&:hover {
					color: $dark-gray ;
					font-weight: bold ;
					font-style: italic ;
				}
			}
			ul.sbOptions {
				background-color: $light-gray ;

				li {
					&:hover {
						background-color: $medium-gray ;

						a { color: $white ; }
					}
					a {
						color: $dark-gray ;
					}
				}
			}
		}
	}
	.program-categories {
		width: 300px ;
	}
	.program-types {
		width: 220px ;
	}
	.button {
		&:hover {
			background-color: $lightest-gray ;

			&.active {
				background-color: $lighter-than-medium-gray ;
			}
		}
	}
}

//Bring in our styles for the prgram type menu
@import 'content/program-type-menu';
//Bring in our search styling
@import 'content/search-field';
@import 'content/search-results' ;
//Load the next step menu styles
@import 'content/next-step-menu';