/***************************************************************************

FONT EMBEDDING

***************************************************************************/
@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/avenir_black-webfont.eot');
    src: url('../fonts/avenir_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_black-webfont.woff') format('woff'),
         url('../fonts/avenir_black-webfont.ttf') format('truetype'),
         url('../fonts/avenir_black-webfont.svg#AvenirBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/avenir_light-webfont.eot');
    src: url('../fonts/avenir_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_light-webfont.woff') format('woff'),
         url('../fonts/avenir_light-webfont.ttf') format('truetype'),
         url('../fonts/avenir_light-webfont.svg#AvenirLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/avenir_medium-webfont.eot');
    src: url('../fonts/avenir_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_medium-webfont.woff') format('woff'),
         url('../fonts/avenir_medium-webfont.ttf') format('truetype'),
         url('../fonts/avenir_medium-webfont.svg#AvenirMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirRoman';
    src: url('../fonts/avenir_roman-webfont.eot');
    src: url('../fonts/avenir_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_roman-webfont.woff') format('woff'),
         url('../fonts/avenir_roman-webfont.ttf') format('truetype'),
         url('../fonts/avenir_roman-webfont.svg#AvenirRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}


/***************************************************************************

GLOBAL HTML STYLES

***************************************************************************/
h1, h2, h3, h4 {
	font-weight: normal ;
	margin: 0 ;
	letter-spacing: 1px ;
}
	
p {
	margin-top: 0px ;
	color: inherit ;
}

a {
	color: inherit ;
	text-decoration: none ;
	outline: none ;
	font-size: inherit ;
}
	a img {
		border: 0px ;
	}