@import url(normalize.css);
@import url(global-styles.css);
/****************************************** 	
	MIXINS
******************************************/
/**********************************************
	VARIABLES
**********************************************/
/* White */
/* Off White */
/*  Lightest Gray  */
/*  Light Gray  */
/* Medium Gray */
/* Dark Gray */
/* Darkest Gray */
/* Light Blue */
/* Medium Blue */
/* Dark Blue */
/* Darkest Blue */
/**********************************************
	PARTIALS
**********************************************/
/* Include our css equalizer to stabalize all browsers without just reseting */
/* ADMIN TEXT EDITOR STYLES ARE DECLARED WITHIN editor-style.css so they can be added to the WP WYSIWIG Editor */
/**********************************************
	BROWSER CORRECTIONS
***********************************************/
/* Apply a natural box layout model to all elements */
/* line 90, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/****************************************** 	
	CSS TEXT SELECTION
******************************************/
/* line 100, ../sass/screen.scss */
*::-moz-selection {
  background-color: #323232;
  color: #ffffff;
}

/* line 104, ../sass/screen.scss */
*::-webkit-selection {
  background-color: #323232;
  color: #ffffff;
}

/* line 108, ../sass/screen.scss */
*::-o-selection {
  background-color: #323232;
  color: #ffffff;
}

/* line 112, ../sass/screen.scss */
*::selection {
  background-color: #323232;
  color: #ffffff;
}

/**********************************************
	CSS SPRITE COORDINATTES
**********************************************/
/**********************************************
	COMMONLY USED DECLARATIONS 
**********************************************/
/* line 126, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 129, ../sass/screen.scss */
.alignleft {
  float: left;
}

/* line 132, ../sass/screen.scss */
.alignright {
  float: right;
}

/* line 135, ../sass/screen.scss */
.button {
  text-align: center;
  font: normal normal normal 0.8em/1em "AvenirBlack";
  letter-spacing: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 141, ../sass/screen.scss */
.button.gray {
  /* The following requires the latest Compass, add '@import "compass"' the top of this file */
  background-color: #969696;
  /* Fallback */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD9D9D9', endColorstr='#FF969696');
  /*IE6-8 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk2OTY5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #969696));
  background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #969696 100%);
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #969696 100%);
  background-image: -o-linear-gradient(top, #d9d9d9 0%, #969696 100%);
  background-image: -ms-linear-gradient(top, #d9d9d9 0%, #969696 100%);
  background-image: linear-gradient(top, #d9d9d9 0%, #969696 100%);
}
/* line 144, ../sass/screen.scss */
.button.blue {
  /* The following requires the latest Compass, add '@import "compass"' the top of this file */
  background-color: #028bbe;
  /* Fallback */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7CDAFD', endColorstr='#FF028BBE');
  /*IE6-8 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjZGFmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyOGJiZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cdafd), color-stop(100%, #028bbe));
  background-image: -webkit-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -moz-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -o-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -ms-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: linear-gradient(top, #7cdafd 0%, #028bbe 100%);
}
/* line 147, ../sass/screen.scss */
.button:hover {
  -webkit-box-shadow: 0 0 8px #969696;
  -moz-box-shadow: 0 0 8px #969696;
  box-shadow: 0 0 8px #969696;
}
/* line 150, ../sass/screen.scss */
.button a {
  color: #5f6062;
  font-size: inherit;
}

/* .button */
/* line 156, ../sass/screen.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 159, ../sass/screen.scss */
.link-fill-container, .button a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 165, ../sass/screen.scss */
.blue-text {
  color: #00aeef;
}

/**********************************************
	HTML DECLARATIONS 
**********************************************/
/* line 173, ../sass/screen.scss */
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* line 178, ../sass/screen.scss */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  min-width: 870px;
  color: #5f6062;
}

/**********************************************
	LAYOUT DECLARATIONS 
**********************************************/
/* line 191, ../sass/screen.scss */
section.website-wrapper {
  background-color: white;
  position: relative;
  width: 100%;
  min-height: 100%;
}

/* line 197, ../sass/screen.scss */
section.masthead {
  width: 800px;
  margin: 20px auto 20px auto;
  overflow: auto;
  /* .website.controls */
}
/* line 202, ../sass/screen.scss */
section.masthead .website-logo {
  float: left;
}
/* line 205, ../sass/screen.scss */
section.masthead .website-slogan {
  float: left;
  color: #00aeef;
  font-family: 'AvenirLight';
  font-size: 1.4em;
  margin: 30px 0 0 30px;
}
/* line 212, ../sass/screen.scss */
section.masthead .website-controls {
  float: right;
}
/* line 216, ../sass/screen.scss */
section.masthead .website-controls .website-quick-links ul {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 222, ../sass/screen.scss */
section.masthead .website-controls .website-quick-links li {
  float: left;
  list-style: none;
  color: #00aeef;
  font-family: 'AvenirLight';
  font-size: 0.8em;
}
/* line 229, ../sass/screen.scss */
section.masthead .website-controls .website-quick-links li a {
  color: #5f6062;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/* line 237, ../sass/screen.scss */
section.masthead .website-controls .website-quick-links li:after {
  content: "/";
}
/* line 240, ../sass/screen.scss */
section.masthead .website-controls .website-quick-links ul li.last:after {
  content: "";
  margin-right: 0;
}
/* line 245, ../sass/screen.scss */
section.masthead .website-controls .website-search {
  position: relative;
  margin-top: 13px;
  float: right;
  width: 200px;
}
/* line 252, ../sass/screen.scss */
section.masthead .website-controls .website-search .search-form .field {
  position: absolute;
  top: 3px;
  left: 0;
  width: 166px;
  background-color: #cccccc;
  border: 1px solid #969696;
  color: #5f6062;
  padding: 6px;
  font-size: 0.85em;
}
/* line 263, ../sass/screen.scss */
section.masthead .website-controls .website-search .search-form .field::-webkit-input-placeholder {
  color: #5f6062;
}
/* line 266, ../sass/screen.scss */
section.masthead .website-controls .website-search .search-form .field:-moz-placeholder {
  color: #5f6062;
}
/* line 270, ../sass/screen.scss */
section.masthead .website-controls .website-search .search-form .submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 7px 8px 7px;
  color: white;
  border: 1px solid #ececec;
  border-left: 0px;
  font: italic normal normal 1.2em/1em "AvenirBlack";
  /* The following requires the latest Compass, add '@import "compass"' the top of this file */
  background-color: #028bbe;
  /* Fallback */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7CDAFD', endColorstr='#FF028BBE');
  /*IE6-8 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjZGFmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyOGJiZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cdafd), color-stop(100%, #028bbe));
  background-image: -webkit-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -moz-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -o-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -ms-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: linear-gradient(top, #7cdafd 0%, #028bbe 100%);
}

/* section.masthead */
/* line 287, ../sass/screen.scss */
.slideshow {
  width: 880px;
  margin: 0 auto 0 auto;
  /* .slides */
}
/* line 291, ../sass/screen.scss */
.slideshow .slideshow-prev {
  float: left;
  width: 35px;
  height: 81px;
  margin-top: 100px;
  background: url("../images/slideshow-prev.png") no-repeat;
  cursor: pointer;
}
/* line 295, ../sass/screen.scss */
.slideshow .slides {
  float: left;
  width: 800px;
}
/* line 299, ../sass/screen.scss */
.slideshow .slides .slide {
  display: none;
}
/* line 302, ../sass/screen.scss */
.slideshow .slides .slide.first {
  display: block;
}
/* line 307, ../sass/screen.scss */
.slideshow .slideshow-next {
  float: left;
  width: 35px;
  height: 81px;
  margin-top: 100px;
  background: url("../images/slideshow-next.png") no-repeat;
  cursor: pointer;
  background-position: top right;
}

/* .slideshow */
/* line 313, ../sass/screen.scss */
.next-step-header {
  width: 800px;
  margin: 0 auto 0 auto;
  overflow: auto;
  padding: 10px 0 10px 0;
}
/* line 319, ../sass/screen.scss */
.next-step-header h1 {
  float: left;
  color: #00aeef;
  font-weight: bold;
  font-size: 2.4em;
}
/* line 325, ../sass/screen.scss */
.next-step-header .caption {
  diplay: inline-block;
  float: left;
  width: 200px;
  margin: 8px 0 0 20px;
  font-size: 0.75em;
}

/* .next-step-header */
/* line 334, ../sass/screen.scss */
nav.next-step {
  width: 100%;
  background-color: #cccccc;
  /* .inner */
}
/* line 338, ../sass/screen.scss */
nav.next-step .inner {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  /* ul */
}
/* line 342, ../sass/screen.scss */
nav.next-step .inner li.backLava {
  top: 0px !important;
  z-index: 1;
  background: url(../images/lava-menu-arrow.jpg) no-repeat top center;
}
/* line 347, ../sass/screen.scss */
nav.next-step .inner ul {
  margin: 0;
  padding: 4px;
  overflow: auto;
  /* li */
}
/* line 352, ../sass/screen.scss */
nav.next-step .inner ul li {
  float: left;
  width: 189px;
  height: 75px;
  margin: 0 10px 0 0;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* The following requires the latest Compass, add '@import "compass"' the top of this file */
  background-color: #028bbe;
  /* Fallback */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7CDAFD', endColorstr='#FF028BBE');
  /*IE6-8 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjZGFmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyOGJiZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cdafd), color-stop(100%, #028bbe));
  background-image: -webkit-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -moz-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -o-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: -ms-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
  background-image: linear-gradient(top, #7cdafd 0%, #028bbe 100%);
}
/* line 362, ../sass/screen.scss */
nav.next-step .inner ul li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
/* line 370, ../sass/screen.scss */
nav.next-step .inner ul li.last {
  margin-right: 0;
}
/* line 374, ../sass/screen.scss */
nav.next-step .inner ul li.selectedLava, nav.next-step .inner ul li:hover {
  -webkit-box-shadow: 0 0 8px #969696;
  -moz-box-shadow: 0 0 8px #969696;
  box-shadow: 0 0 8px #969696;
}
/* line 378, ../sass/screen.scss */
nav.next-step .inner ul li h2 {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
}
/* line 386, ../sass/screen.scss */
nav.next-step .inner ul li h2 a {
  position: relative;
  z-index: 3;
  font: italic normal normal 1.05em/1em "AvenirBlack";
  color: white;
  text-shadow: #0793c8 0px 1px 3px;
}

/* nav.next-step */
/* line 404, ../sass/screen.scss */
section.content-wrapper {
  position: relative;
  padding: 30px 0 225px 0;
  overflow: auto;
  width: 800px;
  margin: 0 auto 0 auto;
  /* SIDEBARS & WIDGETS */
  /* .aside */
}
/* line 411, ../sass/screen.scss */
section.content-wrapper h1 {
  color: #00aeef;
}
/* line 415, ../sass/screen.scss */
section.content-wrapper .page-content {
  float: left;
  width: 600px;
  padding: 0 15px 0 0;
}
/* line 422, ../sass/screen.scss */
section.content-wrapper .aside {
  /* .horizontal */
  /* .vertical */
  /* .widget */
}
/* line 423, ../sass/screen.scss */
section.content-wrapper .aside.horizontal {
  margin: 20px 0 0 0;
  width: 100%;
  /* widget */
}
/* line 428, ../sass/screen.scss */
section.content-wrapper .aside.horizontal .widget {
  float: left;
  width: 33%;
  height: 220px;
  padding: 0 0 0 15px;
  -webkit-box-shadow: -5px 0px 7px -5px #969696;
  -moz-box-shadow: -5px 0px 7px -5px #969696;
  box-shadow: -5px 0px 7px -5px #969696;
}
/* line 436, ../sass/screen.scss */
section.content-wrapper .aside.horizontal .widget:first-child {
  border-left: 0px;
  padding: 0;
}
/* line 443, ../sass/screen.scss */
section.content-wrapper .aside.vertical {
  float: right;
  width: 190px;
  padding: 0 0 0 13px;
  -webkit-box-shadow: -5px 0px 7px -5px #969696;
  -moz-box-shadow: -5px 0px 7px -5px #969696;
  box-shadow: -5px 0px 7px -5px #969696;
  /* .widget */
}
/* line 449, ../sass/screen.scss */
section.content-wrapper .aside.vertical .widget {
  border-bottom: 1px solid #7cdafd;
  font-size: 0.75em;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
/* line 455, ../sass/screen.scss */
section.content-wrapper .aside.vertical .widget:last-child {
  border-bottom: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 463, ../sass/screen.scss */
section.content-wrapper .aside .widget {
  /* ul */
}
/* line 464, ../sass/screen.scss */
section.content-wrapper .aside .widget h3 {
  font: normal normal normal 1.7em/1.2em "AvenirBlack";
  text-transform: lowercase;
  margin-bottom: 25px;
}
/* line 469, ../sass/screen.scss */
section.content-wrapper .aside .widget p.slogan {
  font: normal normal normal 1.8em/1em "AvenirLight";
  margin: 0 0 15px 0;
  padding: 0;
}
/* line 474, ../sass/screen.scss */
section.content-wrapper .aside .widget p.tooltip {
  font: normal normal normal 1em/1em "Arial";
  color: #00aeef;
}
/* line 478, ../sass/screen.scss */
section.content-wrapper .aside .widget ul {
  margin: 0;
  padding: 0;
}
/* line 482, ../sass/screen.scss */
section.content-wrapper .aside .widget ul li {
  list-style: none;
  margin-bottom: 12px;
  font-weight: bold;
}
/* line 489, ../sass/screen.scss */
section.content-wrapper .aside .widget#program-types p {
  font-size: 0.85em;
  text-transform: uppercase;
  line-height: 1.2em;
}
/* line 499, ../sass/screen.scss */
section.content-wrapper.search-results .entry-summary .query {
  background-color: #7cdafd;
}

/* section.content-wrapper */
/* line 511, ../sass/screen.scss */
.website-wrapper footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #cccccc;
  /* .inner */
}
/* line 517, ../sass/screen.scss */
.website-wrapper footer .inner {
  width: 800px;
  margin: 0 auto 0 auto;
  overflow: auto;
  /* .column */
  /* .row */
}
/* line 521, ../sass/screen.scss */
.website-wrapper footer .inner .column {
  float: left;
  margin: 30px 50px 0 0;
  /* ul */
}
/* line 525, ../sass/screen.scss */
.website-wrapper footer .inner .column .button {
  float: left;
  width: 120px;
  height: 30px;
  margin: 0 12px 15px 0;
  padding: 9px 0 0 0;
}
/* line 533, ../sass/screen.scss */
.website-wrapper footer .inner .column h4 {
  font: normal normal normal 0.9em/1em "AvenirBlack";
  margin-bottom: 10px;
}
/* line 538, ../sass/screen.scss */
.website-wrapper footer .inner .column ul {
  margin: 0;
  padding: 0;
}
/* line 542, ../sass/screen.scss */
.website-wrapper footer .inner .column ul li {
  list-style: none;
  font-size: 0.8em;
  line-height: 1.3em;
}
/* line 547, ../sass/screen.scss */
.website-wrapper footer .inner .column ul li a {
  color: #5f6062;
  font-size: inherit;
}
/* line 553, ../sass/screen.scss */
.website-wrapper footer .inner .column ul#menu-quick-menu-1 li a {
  text-transform: uppercase;
}
/* line 559, ../sass/screen.scss */
.website-wrapper footer .inner .column.first {
  /* First Column */
  width: 265px;
}
/* line 563, ../sass/screen.scss */
.website-wrapper footer .inner .column.last {
  /* Last Column */
  margin-right: 0;
}
/* line 569, ../sass/screen.scss */
.website-wrapper footer .inner .row {
  /* .copyright */
}
/* line 571, ../sass/screen.scss */
.website-wrapper footer .inner .row.copyright {
  padding: 45px 0 10px 0;
  font-size: 0.7em;
  color: #5f6062;
  overflow: auto;
  /* a */
  /* .pica */
}
/* line 577, ../sass/screen.scss */
.website-wrapper footer .inner .row.copyright a {
  font-size: inherit;
  color: inherit;
}
/* line 581, ../sass/screen.scss */
.website-wrapper footer .inner .row.copyright a:hover {
  text-decoration: underline;
}
/* line 586, ../sass/screen.scss */
.website-wrapper footer .inner .row.copyright .pica {
  float: right;
  background: url(../images/pica-mark-small.png) no-repeat;
  width: 20px;
  height: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 594, ../sass/screen.scss */
.website-wrapper footer .inner .row.copyright .pica:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* .website-wrapper footer */
