.clear {
	clear: both ;
}
.alignleft {
	float: left ;
}
.alignright {
	float: right ;
}
.button {
	text-align: center ;
	font: normal normal normal 0.8em/1.0em 'AvenirHeavy' ;
	letter-spacing: 1px ;
	@include single-transition(all, 0.2s, linear) ;
	
	a {
		@extend .link-fill-container ;
		font-size: inherit ;
	}

	&.gray {
		background-color: $lightest-gray ;
		a { color: $dark-gray ; }

		&:hover {
			background-color: $lighter-than-medium-gray !important ;
		}
	}
		&.gray.gradient {
			@include gray-gradient ;
		}
			&.active.gray {
				background-color: $medium-gray ;
				a { color: $white ; }
			}
			&.active.gray.gradient {
				@include darkest-gray-gradient ;
			} 
	

	&.blue {
		background-color: $light-blue ;
		a { color: $dark-gray ; }
	}
		&.blue.gradient {
			@include blue-gradient ;
		}
			&.active.blue {
				background-color: $medium-gray ;
				a { color: $darkest-gray ; }
			}
			&.active.blue.gradient {
				@include dark-blue-gradient ;
			} 

	
	&.inline {
		float: left ;
		margin-right: 5px ;
		margin-bottom: 5px ;
	}
	&.padded {
		padding: 8px ;
	}
	&.rounded {
		@include border-radius(4px, 4px);
	}
	&.hover:hover {
		@include single-box-shadow($medium-gray, 0, 0, 8px, false, false) ;
	}

} /* .button */
.uppercase {
	text-transform: uppercase ;
}
.link-fill-container {
	display: block ;
	width: 100% ;
	height: 100% ;
}
.blue-text {
	color: $medium-blue ;
}
.annotation {
	color: $medium-blue ;
}

section.accordion {
	margin: 10px 0 10px 0 ;
	
	header {
		overflow: auto ;
		margin-bottom: 10px ;
		cursor: pointer ;
		width: 100% ;
	    background-color: $lighter-than-medium-gray ;
	    padding: 0 ;
		@include single-transition(all, 0.2s, linear) ;

		figcaption {
			float: left ;
			display: block ;
			padding: 9px 15px 9px 15px ;
			font: normal normal normal 1.05em/1.0em 'AvenirHeavy' ;
			letter-spacing: 0.1em ;
			color: rgb(255,255,255) ;
			line-height: 1.4em ;
			width: 90% ;

			a {
				font: inherit ;
				color: inherit ;
			}
		}
		div {
			position: relative ;
			float: right ;
			width: 30px ;
			border-left: 4px solid $white ;
			@include gray-gradient ;
			
			figure {
				position: absolute ;
				bottom: 0 ;
				float: right ;
				width: 24px ; height: 32px ;
				@include background(sprite($layout-sprite, down-arrow) no-repeat);
			}
		}
		&:hover {
			background-color: $medium-gray ;
		}
	}
	article {
		width: 100% ;
		padding-right: 35px ;
		
		figure.link-icon {
			z-index: 100 ;
			float: right ;
			margin-right: -30px ;
			width: 16px ; height: 16px ;
			display: none ;
			@include background(sprite($layout-sprite, link-icon) no-repeat);

			a {
				@extend .link-fill-container ;
			}
		}

		p {
			position: relative ;
			z-index: 1 ;
		}
	}
	&.open header {
		background-color: $medium-gray ;
		div {
			@include darkest-gray-gradient ;

			figure {
				@include background(sprite($layout-sprite, up-arrow) no-repeat);
			}
		}
	}
	&.closed article {
		display: none ;
	}
} /* accordian */


.inline {
	display: inline ;
}

.moreleading {
	line-height: 1.25em ;
}

/* Back to Top Elements */
.back-to-top {
	position: fixed ;
	bottom: 100px ;
	right: 45px ;
	width: 45px ;
	height: 45px ;
	color: rgb(255,255,255) ;
	display: none ;
	cursor: pointer ;
	background-color: $medium-gray ;
	z-index: 99 ;
	@include single-transition(all, 0.2s, linear) ;

	&:hover {
		background-color: $dark-gray ;
	}
	div {
		width: 33px ;
		height: 19px ;
		margin: 13px auto 0 auto ;
		background: sprite($layout-sprite, up-arrow-big) ;
	}
}
	.back-to-top.active {
		display: block ;
	}

.loop-controls {
	margin-top: 15px ;

	div.pagination {
		.page-numbers {
			display: block ;
			float: left ;
			list-style: none ;
			margin-right: 8px ; padding: 4px 4px 8px 4px ;
			color: $dark-gray ;
			text-decoration:none;
			background-color: $light-gray;
			cursor: pointer;
			padding: 4px ;

			&.current, &:hover {
				background-color: $medium-gray ;
				color: $white ;
			}
		}
	}
}