/* Tables are used for data grids of job, institution, and program information in grid stuctures */
table.tablesorter {
	text-align: left;

	thead {
		tr {
			background-color: $lightest-gray ;

			th {
				text-align: left ;
				border: 1px solid #FFF;
				padding: 4px 20px 4px 5px ;
				font-size: 0.85em ;

				&.header {
					background-image: url(../images/layout/bg.gif);
					background-repeat: no-repeat;
					background-position: center right;
					cursor: pointer;
				}
				&.headerSortUp, &.headerSortDown {
					background-color: $light-gray ;

					strong {
						color: $dark-gray ;
					}
				}
				&.headerSortUp {
					background-image: url(../images/layout/asc.gif);
				}
				&.headerSortDown {
					background-image: url(../images/layout/desc.gif);
				}
			}
		}
	}

	thead.tableFloatingHeader {
		@include single-box-shadow($darkest-gray, 0, 0, 20px, false, false) ;
	}

	tbody {
		tr {
			&:nth-child(even) {
				background-color: $lightest-gray ;
			}
			&:nth-child(odd) {
				background-color: $white ;
			}
			td {
				padding: 5px ;
				font-family: 'HelveticaCondensed';

				a {
					font-family: 'HelveticaCondensed';
					font-weight: bold ;
				}
			}
		}
	}
}
