/*
@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/avenir_black-webfont.eot');
    src: url('../fonts/avenir_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_black-webfont.woff') format('woff'),
         url('../fonts/avenir_black-webfont.ttf') format('truetype'),
         url('../fonts/avenir_black-webfont.svg#AvenirHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/avenir_light-webfont.eot');
    src: url('../fonts/avenir_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_light-webfont.woff') format('woff'),
         url('../fonts/avenir_light-webfont.ttf') format('truetype'),
         url('../fonts/avenir_light-webfont.svg#AvenirLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/avenir_heavy-webfont.eot');
    src: url('../fonts/avenir_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_heavy-webfont.woff') format('woff'),
         url('../fonts/avenir_heavy-webfont.ttf') format('truetype'),
         url('../fonts/avenir_heavy-webfont.svg#AvenirLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/avenir_medium-webfont.eot');
    src: url('../fonts/avenir_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_medium-webfont.woff') format('woff'),
         url('../fonts/avenir_medium-webfont.ttf') format('truetype'),
         url('../fonts/avenir_medium-webfont.svg#AvenirHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'AvenirRoman';
    src: url('../fonts/avenir_roman-webfont.eot');
    src: url('../fonts/avenir_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_roman-webfont.woff') format('woff'),
         url('../fonts/avenir_roman-webfont.ttf') format('truetype'),
         url('../fonts/avenir_roman-webfont.svg#AvenirRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaCondensed';
    src: url('../fonts/HelveticaLTStd-Cond.eot');
    src: url('../fonts/HelveticaLTStd-Cond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaLTStd-Cond.woff') format('woff'),
         url('../fonts/HelveticaLTStd-Cond.ttf') format('truetype'),
         url('../fonts/HelveticaLTStd-Cond.svg#HelveticaCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}