section.website-wrapper {
	background-color: $white ;
	position: relative ;
	width: 100% ;
	min-height: 100% ;
}
	section.masthead {
		width: 800px ;
		margin: 20px auto 20px auto ;
		overflow: auto ;
		
		.website-logo {
			float: left ;
		}
		.website-slogan {
			float: left ;
			color: $medium-blue ;
			font-family: 'AvenirLight';
			font-size: 1.4em ;
			margin: 30px 0 0 30px ;
		}
		.website-controls {
			float: right ;
			
			.website-quick-links {
				ul {
					display: inline-block ;
					float: right ;
					margin: 0 ;
					padding: 0 ;
				}	
					li {
						float: left ;
						list-style: none ;
						color: $medium-blue ;
						font-family: 'AvenirLight';
						font-size: 0.8em ;
						a {
							color: $dark-gray ;
							display: inline-block ;
							margin: 0 5px 0 5px ;
							text-transform: uppercase ;
							letter-spacing: 0.1em ;
						}
						&:after {
							content: "/";
						}
						&.last:after {
							content: "";
							margin-right: 0 ;
						}
					}
			}
			.website-search {
				position: relative ;
				margin-top: 13px ;
				float: right ;
				width: 200px ;
				
				.search-form {
					.field {
						position: absolute ;
						top: 3px ;
						left: 0 ;
						width: 166px ;
						background-color: $light-gray ;
						border: 1px solid $medium-gray ;
						color: $dark-gray ;
						padding: 6px ;
						font-size: 0.85em ;
						
						&::-webkit-input-placeholder {
						   color: $dark-gray ;
						}
						&:-moz-placeholder {
						   color: $dark-gray ;
						}
					}
					.submit {
						position: absolute ;
						top: 0 ;
						right: 0 ;
						padding: 7px 7px 8px 7px ;
						color: $white ;
						border: 1px solid $off-white ;
						border-left: 0px ;
						font: italic normal normal 1.2em/1.0em 'AvenirBlack' ;
						@include blue-gradient ;
					}
				}
			}
		} /* .website.controls */
	} /* section.masthead */


	.slideshow {
		width: 880px ;
		margin: 0 auto 0 auto ;
		
		.slideshow-prev {
			@include slideshow-nav-item('../images/slideshow-prev.png');
		}
		
		.slides {
			float: left ;
			width: 800px ;
			height: 287px ;
			
			.slide {
				display: none ;
			}
				.slide.first {
					display: block ;
				}
		} /* .slides */
		
		.slideshow-next {
			@include slideshow-nav-item('../images/slideshow-next.png');
			background-position: top right ;
		}
	} /* .slideshow */

	.next-step-header {
		width: 800px ;
		margin: 0 auto 0 auto ;
		overflow: auto ;
		padding: 10px 0 10px 0 ;
		
		h1 {
			float: left ;
			color: $medium-blue ;
			font-weight: bold ;
			font-size: 2.4em ;
		}
		.caption {
			diplay: inline-block ;
			float: left ;
			width: 200px ;	
			margin: 8px 0 0 20px ;
			font-size: 0.75em ;
		}
	} /* .next-step-header */
	
	nav.next-step {
		width: 100% ;
		background-color: $light-gray ;
		
		.inner {
			@include centered; 
			padding: 20px 0 20px 0 ;
			
			li.backLava {
				top: 0px !important ;
				z-index: 1 ;
				background: url(../images/lava-menu-arrow.jpg) no-repeat top center ;
			}
			ul {
				margin: 0 ;
				padding: 4px ;
				overflow: auto ;
				
				li {
					float: left ;
					width: 189px ;
					height: 75px ;
					margin: 0 10px 0 0 ;
					text-align: center ;
					z-index: 1 ;
					@include single-transition(all, 0.2s, linear) ;
					@include blue-gradient ;
					
					&:before {
						content: '';
						display: inline-block;
						height: 100%; 
						vertical-align: middle;
						margin-right: -0.25em;
					}
					
					&.last {
						margin-right: 0 ;
					}
					
					&.selectedLava, &:hover {
						@include single-box-shadow($medium-gray, 0, 0, 8px, false, false);
					}
					
					h2 {
						position: relative ;
						z-index: 2 ;
						display: inline-block ;
						vertical-align: middle;
						margin: 0 ;
						padding: 10px 15px;
						text-transform: none ;
						
						a {
							position: relative ;
							z-index: 3 ;
							font: italic normal normal 1.05em/1.0em 'AvenirBlack' ;
							color: rgb(255,255,255) ;
							$default-text-shadow-color: $darkest-blue ;
							$default-text-shadow-blur: 3px ;
							$default-text-shadow-v-offset: 1px ;
							@include single-text-shadow;
						}
					}
					
					
				} /* li */
			} /* ul */
		} /* .inner */
	} /* nav.next-step */
	
	section.content-wrapper {
		position: relative ;
		padding: 30px 0 225px 0 ;

		overflow: auto ;
		@include centered ;
		
		h1 {
			color: rgb(0,174,239) ;
		}
		
		.page-content {
			float: left ;
			width: 600px ;
			padding: 0 15px 0 0 ;
			font: normal normal normal 1.0em/1.4em 'AvenirRoman' ;
			
			&.full-width {
				width: 800px ;
			}
			/*
			strong {
				font-family: 'AvenirMedium';
			}
			a {
				font-family: 'AvenirBlack' ;
				letter-spacing: 0.1em ;
			}
			*/

			ul.breadcrumbs {
				display: inline-block ;
				float: left ;
				margin: 0 ;
				padding: 0 ;
				
				li {
					float: left ;
					list-style: none ;
					color: $medium-blue ;
					font-family: 'AvenirLight';
					font-size: 0.8em ;
					a {
						font-family: 'AvenirBlack' ;
					}
					a, & span.current-post {
						color: $dark-gray ;
						display: inline-block ;
						margin: 0 5px 0 5px ;
						text-transform: uppercase ;
						letter-spacing: 0.1em ;
					}
					&.first a, &.first span.current-post {
						margin-left: 0 ;
					}
					&:after {
						content: "/";
					}
					&.last:after {
						content: "";
						margin-right: 0 ;
					}
				}
			}
			/*
			ul {
				margin: 0 ;
				padding: 0 ;
				
				li {
					list-style: none ;
					padding: 0 ;
					margin: 0 0 20px 0 ;
					
					h1 {
						
						font: normal normal normal 1.6em/1.0em 'AvenirBlack' ;
						color: $medium-blue ;
						text-transform: uppercase ;

						span {
							color: $dark-gray ;
							padding-right: 5px ;
						} 
						
					}
					
					
					h2 {
						font: normal normal normal 1.6em/1.0em 'AvenirBlack' ;
						color: $dark-gray ;
						text-transform: uppercase ;
					}
					
					ul {
						padding: 10px 0 0 35px;
						
						li {
							position: relative ;
							list-style: url(../images/blue-bullet.png) ;
							margin: 0 ;
							
							a {
								position: absolute ;
								display: inline-block ;
								top: 2px ;
							}
						}
					} 
				} 
				*/
			ul {
				&.show-bullets {
					padding-left: 18px ;					

					li {
						list-style: disc ;
						margin-bottom: 5px ;
					}
				}
				
			} /* ul */
			
			.accordion {
				margin: 10px 0 10px 0 ;
				
				.title {
					cursor: pointer ;
					background-color: $light-gray ;
					padding: 9px 15px 9px 15px ;
					margin-bottom: 10px ;
					font: normal normal normal 1.05em/1.0em 'AvenirBlack' ;
					letter-spacing: 0.1em ;
					color: rgb(255,255,255) ;
					/*@include single-transition(all, 0.2s, linear) ;*/
				}
					&.open .title {
						@include dark-gray-gradient ;
					}
				
				.content {
					width: 545px ;
					font-size: 0.9em ;
				}
				
				&.closed .content {
					display: none ;
				}
			} /* accordian */
			
			
			.institution-image {
				max-height: 100px ;
				float: left ;
				margin: 0 10px 5px 0 ;
			}
			
		} /* .page-content */
		
		/* SIDEBARS & WIDGETS */
		.aside {
			/* The horizontal aside section is used on the website homepage */
			&.horizontal {
				margin: 20px 0 0 0 ;
				
				width: 100% ;
				
				.widget {
					float: left ;
					width: 33% ;
					height: 220px ;
					padding: 0 15px 0 15px ;
					
					@include single-box-shadow($medium-gray, -5px, 0px , 7px, -5px, false);
					
					&:first-child {
						border-left: 0px ;
						padding: 0 ;
					}
				} /* widget */
			} /* .horizontal */
			/* The vertical aside section is used on the website pages - as a sidebar */
			&.vertical {
				float: right ;
				width: 190px ;
				padding: 0 0 0 13px ;
				@include single-box-shadow($medium-gray, -5px, 0px , 7px, -5px, false);
				
				.widget {
					border-bottom: 1px solid $light-blue ;
					font-size: 0.75em ;
					padding-bottom: 15px ;
					margin-bottom: 25px ;
					
					&:last-child {
						border-bottom: 0px ;
						padding-bottom: 0 ;
						margin-bottom: 0 ;
					}
				} /* .widget */
			} /* .vertical */
			
			.widget {
			
				h3 {
					font: normal normal normal 1.7em/1.2em 'AvenirBlack' ;
					text-transform: lowercase ;
					margin-bottom: 25px ;
				}
				p.slogan {
					font: normal normal normal 1.8em/1.0em 'AvenirLight' ;
					margin: 0 0 15px 0 ;
					padding: 0 ;
				}
				p.tooltip {
					font: normal normal normal 1.0em/1.0em 'Arial' ;
					color: $medium-blue ;
				}
				ul {
					margin: 0 ;
					padding: 0 ;
					
					li {
						list-style: none ;
						margin-bottom: 12px ;
						font-weight: bold ;
					}
				} /* ul */
				
				&#institutions {
					p {
						font-size: 0.85em ;
						text-transform: uppercase ;
						line-height: 1.2em ;
					}
					
					/****************************************** 			
						JQUERY PLUGIN STYLE OVERRIDES
					******************************************/
					
					/* Custom Dropdown Menu Plugin - Lives in the blog sidebar */
					.sbHolder{
						background-color: #f6f6f6 ;
						border: 1px solid #e2e2e2 ;
						font-weight: normal;
						height: 22px;
						position: relative;
						width: 160px ;
						margin: 5px 0 0 0 ;
					}
					.sbSelector{
						display: block;
						height: 25px;
						left: 0;
						outline: none;
						overflow: hidden;
						position: absolute;
						font-size: 10px ;
						top: 0;
						width: 160px;
						padding: 4px 5px 2px 5px ;
					}
					.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
						color: #989898 ;
						outline: none;
						text-decoration: none;
					}
					.sbToggle {
						background-image: url(images/image-sprite.png) ;
						background-repeat: no-repeat ;
						background-position: 0 0 ;
						display: block;
						height: 17px;
						width: 17px;
						outline: none;
						position: absolute;
						right: 2px;
						top: 2px;
						z-index: 20 ;
						transition: none ;
						-o-transition: none ;
						-moz-transition: none ;
						-webkit-transition: none ;
					}
						.sbHolder:hover .sbToggle {
							background-position: -18px 0 ;
						}
							
					.sbToggleOpen {
						background-image: url(images/image-sprite.png) ;
						background-repeat: no-repeat ;
						background-position: -36px 0;
					}
						.sbHolder:hover .sbToggleOpen {
							background-position: -54px 0 ;
						}
					.sbOptions {
						background-color: #f6f6f6 ;
						border: 1px solid #e2e2e2 ;
						list-style: none;
						left: -1px;
						margin: 0;
						padding: 0;
						position: absolute;
						top: 30px;
						width: 160px ;
						z-index: 1;
						overflow-y: auto;
					}
					.sbOptions li {
						padding: 0 0 0 4px ;
					}
						.sbOptions li:hover {
							background-color: #e9e9e9 ;
						}	
					.sbOptions a {
						display: block;
						outline: none;
						padding-top: 3px !important ;
						font-size: 10px !important ;
						color: #ddd ;
						text-decoration: none !important ;
						transition: none ;
						-o-transition: none ;
						-moz-transition: none ;
						-webkit-transition: none ;
					}
						.sbOptions a:link, .sbOptions a:visited{
						}
						.sbOptions a:hover {
						}
						
					.sbOptions li.last a{
						border-bottom: none;
					}
					/* END Custom Scroll Bar Plugin */
				}
				
				
				
				
				
				
				
			} /* .widget */
		} /* .aside */
		
		&.search-results {
			.entry-summary {
				.query {
					background-color: $light-blue ;
				}
			}
		}
	} /* section.content-wrapper */
	
	
	
	
	

	.website-wrapper footer {
		position: absolute ;
		bottom: 0 ;
		width: 100% ;
		background-color: $light-gray ;
		
		.inner {
			@include centered;
			overflow: auto ;
			
			.column {
				float: left ;
				margin: 30px 50px 0 0 ;
				
				.button {
					float: left ;
					width: 120px ;
					height: 30px ;
					margin: 0 12px 15px 0 ;
					padding: 9px 0 0 0 ;
				}
				
				h4 {
					font: normal normal normal 0.90em/1.0em 'AvenirBlack' ;
					margin-bottom: 10px ;
				}
				
				ul {
					margin: 0 ;
					padding: 0 ;
					
					li {
						list-style: none ;
						font-size: 0.8em ;
						line-height: 1.3em ;
						margin-bottom: 0 ;

						a {
							color: $dark-gray ;
							font-size: inherit ;
						}
					}
					&#menu-quick-menu-1 {
						li a {
							text-transform: uppercase ;
						}	
					}
				} /* ul */
				
				&.first { /* First Column */
					width: 265px ;
				}
		
				&.last { /* Last Column */
					margin-right: 0 ;
				}
				
			} /* .column */
				
			.row {
				
				&.copyright {
					padding: 45px 0 10px 0 ;
					font-size: 0.7em ;
					color: $dark-gray ;
					overflow: auto ;
					
					a {
						font-size: inherit ;
						color: inherit ;
						
						&:hover {
							text-decoration: underline ;
						}
					} /* a */
					
					.pica {
						float: right ;
						background: url(../images/pica-mark-small.png) no-repeat ;
						width: 20px ;
						height: 20px ;
						@include opacity(0.5) ;
						@include single-transition(all, 0.2s, linear) ;
						
						&:hover {
							@include opacity(1.0) ;
						}
					} /* .pica */
				} /* .copyright */
			} /* .row */
		} /* .inner */
	} /* .website-wrapper footer */