@mixin centered {
	width: 800px ;
	margin: 0 auto 0 auto ;
}

@mixin slideshow-nav-item ($image-path) {
	float: left ;
	width: 35px ;
	height: 81px ;
	margin-top: 100px ;
	background: url($image-path) no-repeat ;
	cursor: pointer ;
}

@mixin blue-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $dark-blue; /* Fallback */
	@include filter-gradient($light-blue, $dark-blue, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $light-blue 0%, $dark-blue 100%));
}

@mixin dark-blue-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $dark-blue; /* Fallback */
	@include filter-gradient($medium-blue, $dark-blue, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $medium-blue 0%, $dark-blue 100%));
}

@mixin gray-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $medium-gray; /* Fallback */
	@include filter-gradient($lightest-gray, $medium-gray, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $lightest-gray 0%, $medium-gray 100%));
}

@mixin dark-gray-gradient {
	/* The following requires the latest Compass, add '@import "compass"' the top of this file */
	background-color: $medium-gray; /* Fallback */
	@include filter-gradient($medium-gray, $dark-gray, vertical);  /*IE6-8 */
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, $medium-gray 0%, $dark-gray 100%));
}