/* Tables are used for data grids of job, institution, and program information in grid stuctures */
.filter-options {
	margin: 0 0 20px 0 ;
	overflow: auto ;
	.title {
		float: left ;
		margin-right: 10px ;
		padding-top: 3px ;
	}
}
table.tablesorter {
	font-size: 0.7em ;
	text-align: left;

	thead {
		tr {
			background-color: $lightest-gray ;

			th {
				text-align: left ;
				border: 1px solid #FFF;
				padding: 4px 20px 4px 5px ;

				&.header {
					background-image: url(../images/bg.gif);
					background-repeat: no-repeat;
					background-position: center right;
					cursor: pointer;
				}
				&.headerSortUp, &.headerSortDown {
					background-color: $lighter-than-medium-gray ;

					strong {
						
						color: $darkest-gray ;
					}
				}
				&.headerSortUp {
					background-image: url(../images/asc.gif);
				}
				&.headerSortDown {
					background-image: url(../images/desc.gif);
				}
			}
		}
	}
	tbody {
		tr {
			&:nth-child(even) {
				background-color: $light-gray ;
			}
			&:nth-child(odd) {
				background-color: $white ;
			}
			td {
				padding: 5px ;
			}
		}
	}
}
