
//////////// SASS INTERNALS //////////////////

	//---------------------------
	//	COMPASS CORE
	//---------------------------
	@import 'compass';
	//---------------------------
	//	SASS MIXINS
	//---------------------------
	@import 'mixins' ;
	//---------------------------
	//	SASS VARIABLES
	//---------------------------
	@import 'colors';



//////////// THEME SETUP //////////////////

	/**********************************************
		BROWSER CORRECTIONS
	***********************************************/	
	@import 'normalize';

	/**********************************************
		FONTS
	***********************************************/	
	@import 'fonts';

	/**********************************************
		IMAGE SPRITES
	***********************************************/
	//The layout sprite is created with a reference to $layout-sprite, 
	//so we can have more control with it, like calling the image with coordinates in a single declaration
	//This is mostly so we can use sprite images in background() for laying backgrounds, like gradients + images
	$layout-layout: vertical ;
	$layout-sprite: sprite-map("layout/*.png") ;

	//Generate our browser icon sprite
	$browser-icons-layout: vertical ;
	@import "content/browser-icons/*.png";
	
	/**********************************************
		HTML DECLARATIONS 
	**********************************************/
	@import 'html-base';

	/****************************************** 	
		CSS TEXT SELECTION
	******************************************/
	@import 'selection';

	/**********************************************
		COMMONLY USED DECLARATIONS 
	**********************************************/
	@import 'common';



//////////// TEMPLATE STYLES //////////////////

//This wrapper encompasses the entire website
section.website-wrapper {
	background-color: $white ;
	position: relative ;
	width: 100% ;
	min-height: 100% ;
}

	/**********************************************
		HEADER DECLARATIONS 
	**********************************************/
	@import 'header';

	/**********************************************
		SLIDESHOW DECLARATIONS 
	**********************************************/
	@import 'slideshow';

	/**********************************************
		NEXT STEP MENU DECLARATIONS 
	**********************************************/
	@import 'next-step-menu';

	/**********************************************
		CONTENT DECLARATIONS 
	**********************************************/
	@import 'content';

	/**********************************************
		FOOTER DECLARATIONS 
	**********************************************/
	@import 'footer';

	/**********************************************
		TABLESORTER jQUERY DECLARATIONS 
	**********************************************/
	@import 'tablesorter';

	/**********************************************
		FORMIDABLE FORMS WORDPRESS PLUGIN DECLARATIONS 
	**********************************************/
	@import 'formidable';
