/*
@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/avenir_black-webfont.eot');
    src: url('../fonts/avenir_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_black-webfont.woff') format('woff'),
         url('../fonts/avenir_black-webfont.ttf') format('truetype'),
         url('../fonts/avenir_black-webfont.svg#AvenirHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
  font-family: 'AvenirLight';
  src: url("../fonts/avenir_light-webfont.eot");
  src: url("../fonts/avenir_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir_light-webfont.woff") format("woff"), url("../fonts/avenir_light-webfont.ttf") format("truetype"), url("../fonts/avenir_light-webfont.svg#AvenirLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirHeavy';
  src: url("../fonts/avenir_heavy-webfont.eot");
  src: url("../fonts/avenir_heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir_heavy-webfont.woff") format("woff"), url("../fonts/avenir_heavy-webfont.ttf") format("truetype"), url("../fonts/avenir_heavy-webfont.svg#AvenirLight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/avenir_medium-webfont.eot');
    src: url('../fonts/avenir_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir_medium-webfont.woff') format('woff'),
         url('../fonts/avenir_medium-webfont.ttf') format('truetype'),
         url('../fonts/avenir_medium-webfont.svg#AvenirHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
  font-family: 'AvenirRoman';
  src: url("../fonts/avenir_roman-webfont.eot");
  src: url("../fonts/avenir_roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir_roman-webfont.woff") format("woff"), url("../fonts/avenir_roman-webfont.ttf") format("truetype"), url("../fonts/avenir_roman-webfont.svg#AvenirRoman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaCondensed';
  src: url("../fonts/HelveticaLTStd-Cond.eot");
  src: url("../fonts/HelveticaLTStd-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Cond.woff") format("woff"), url("../fonts/HelveticaLTStd-Cond.ttf") format("truetype"), url("../fonts/HelveticaLTStd-Cond.svg#HelveticaCondensed") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 6, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
html {
  margin: 0px;
  padding: 0px;
  height: 100%; }
  /* line 11, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
  html body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    height: 100%;
    min-width: 870px;
    color: #5f6062;
    letter-spacing: -0.04em; }
    /* line 20, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body ul {
      margin: 0;
      padding: 0; }
      /* line 24, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
      html body ul li {
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
        color: #5f6062;
        /*
        ul {
        	padding: 10px 0 0 35px;
        	
        	li {
        		position: relative ;
        		list-style: url(http://picadesign.ath.cx/nextstepmaine/wp-content/themes/nextstepmaine-wp-theme/images/layout/blue-bullet.png) ;
        		margin: 0 ;
        	
        		a {
        			position: absolute ;
        			display: inline-block ;
        			top: 2px ;
        		}
        	} 
        } 
        */ }
    /* line 50, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body h1, html body h2, html body h3, html body h4 {
      font-weight: normal;
      margin: 0;
      letter-spacing: 0em;
      line-height: 1.2em; }
    /* line 56, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body h1 {
      font: normal normal normal 1.6em/1em "AvenirHeavy";
      color: #00aeef;
      text-transform: uppercase; }
      /* line 61, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
      html body h1 span {
        color: #5f6062;
        padding-right: 5px; }
    /* line 66, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body h2 {
      font: normal normal normal 1.6em/1em "AvenirHeavy";
      color: #5f6062;
      /*text-transform: uppercase ;*/ }
    /* line 71, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body a {
      font: inherit;
      color: inherit;
      text-decoration: none;
      font-weight: normal;
      outline: none;
      font-size: inherit;
      font-family: 'AvenirHeavy';
      letter-spacing: -0.04em;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      /* line 82, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
      html body a:hover {
        color: #0793c8; }
      /* line 85, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
      html body a img {
        border: 0px; }
    /* line 89, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body p {
      margin-top: 0px;
      color: inherit; }
    /* line 93, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/_html-base.scss */
    html body strong {
      font-family: 'AvenirHeavy';
      font-weight: normal;
      letter-spacing: -0.04em; }

/* The .program-types list is a horizontal list of buttons */
/* line 2, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/content/_program-type-menu.scss */
ul.program-types {
  overflow: auto;
  padding: 0;
  margin: 0 0 20px 0;
  height: 80px; }
  /* line 7, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/content/_program-type-menu.scss */
  ul.program-types li {
    width: 138px;
    height: 60px;
    list-style: none;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    /* The following requires the latest Compass, add '@import "compass"' the top of this file */
    background-color: #028bbe;
    /* Fallback */
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7CDAFD', endColorstr='#FF028BBE');
    /*IE6-8 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjZGFmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAyOGJiZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cdafd), color-stop(100%, #028bbe));
    background-image: -webkit-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
    background-image: -moz-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
    background-image: -o-linear-gradient(top, #7cdafd 0%, #028bbe 100%);
    background-image: linear-gradient(top, #7cdafd 0%, #028bbe 100%); }
    /* line 17, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/content/_program-type-menu.scss */
    ul.program-types li:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; }
    /* line 24, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/content/_program-type-menu.scss */
    ul.program-types li.last {
      margin-right: 0; }
    /* line 27, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/content/_program-type-menu.scss */
    ul.program-types li:hover {
      -webkit-box-shadow: 0 0 8px #969696;
      -moz-box-shadow: 0 0 8px #969696;
      box-shadow: 0 0 8px #969696; }
    /* line 30, /Applications/MAMP/htdocs/nextstep/wp-content/themes/nextstepmaine/sass/layout/content/_program-type-menu.scss */
    ul.program-types li a {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      color: white;
      margin: 0;
      padding: 0 10px 0 10px; }

/**********************************************
	EDITOR OVERRIDES 
		- These overrides ONLY show in the wp editor
**********************************************/
/* line 15, ../sass/editor.scss */
html {
  padding: 15px; }
  /* line 18, ../sass/editor.scss */
  html body {
    min-width: 0; }
